.history-product-image {
    width: 60px;
    height: 65px;
    border-radius: 6px;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.add_new {
    padding: 10px20px;
    color: #ffffff;
    background-color: #157347;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid#157347;
    border-radius: 6px;
    color: #157347;
}

::placeholder {
    /* color: #0298cf; */
    color: #157347;
}