/* Default styles */

.review-item {
    width: 571px;
    height: 90px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 8px 8px 8px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.review-item .product-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.review-details {
    flex-grow: 1;
}

.review-details p {
    margin: 0 15px;
}

.review-item img {
    width: 60px;
    height: 65px;
    border-radius: 6px;
}

.orange-text {
    color: #ff9900;
}

.button-delete {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    color: #EB5757;
    font-size: 27px;
}


/* Responsive styles */


/* @media (max-width: 1400px) {} */

@media (max-width: 768px) {
    .review-item {
        width: 100%;
    }
    .review-item img {
        width: 40px;
        height: 45px;
    }
}


/* Default styles */

div.order-details {
    background-color: #FFE0B2;
    padding: 20px;
}

div.order-details h5 {
    text-align: center;
    margin-bottom: 10px;
}

div.order-details p {
    margin: 5px 0;
}


/* Responsive styles */

@media (max-width: 768px) {
    div.order-details {
        padding: 10px;
    }
}