.mainpage {
    display: flex;
    height: 80%;
}

.mainpage img {
    height: 550px;
}

.img-div {
    margin-left: 10%;
    margin-top: 15px;
}

.text-div {
    margin-top: 120px;
    margin-left: 100px;
}

.text-div h1 {
    color: brown;
    font-size: 80px;
    margin-bottom: 0;
}